<div class="layout-wrapper">
  <header class="top-navbar">
    <p-menubar [model]="menuItems">
      
      <ng-template pTemplate="start">
        <a routerLink="/" class="logo-area">
          <div class="logo-icon">
            <i class="pi pi-graduation-cap"></i>
          </div>
          <span class="logo-text">Aprender<span class="highlight">+</span></span>
        </a>
      </ng-template>

      <ng-template pTemplate="end">
        @if (authService.currentUser(); as user) {
          <div class="auth-buttons">
            <button class="logged-user" type="button" routerLink="/profile">
              <i class="pi pi-user"></i>
              <span>{{ user.name }}</span>
            </button>

            <p-button 
              icon="pi pi-sign-out" 
              label="Sair" 
              severity="secondary" 
              [outlined]="true" 
              size="small" 
              (onClick)="authService.logout()">
            </p-button>
          </div>
        } @else {
          <div class="auth-buttons">
            <button class="btn-login" routerLink="/auth/login">
              Entrar
            </button>

            <button class="btn-cadastro" routerLink="/auth/register">
              Criar Conta
            </button>
          </div>
        }
      </ng-template>
    </p-menubar>
  </header>

  <main class="content-area">
    <p-toast position="top-right" />
    <router-outlet></router-outlet>
  </main>
</div>