<div class="layout-wrapper">
  <header class="top-navbar">
    <p-menubar [model]="menuItems">
      
      <!-- redirecionamento para o feed através da logo -->
      <ng-template pTemplate="start">
        <span class="logo-text" routerLink="/">Grupo de estudos</span>
      </ng-template>

      <!-- botões de Autenticação -->
      <ng-template pTemplate="end">
        <div class="auth-buttons">
          <button class="btn-login" routerLink="/auth/login">Login</button>
          <button class="btn-cadastro" routerLink="/auth/register">Cadastro</button>
        </div>
      </ng-template>
      
    </p-menubar>
  </header>

  <main class="content-area">
    <router-outlet></router-outlet>
  </main>
</div>